// app global css in Stylus form
.q-list__label-title
    margin:0

.q-card
    width:100%
.q-table
    width:100%

.my-table-details {
  font-size: 0.85em;
  font-style: italic;
  max-width: 200px;
  white-space: normal;
  color: #555;
  margin-top: 4px;
}